    <!-- Work Section -->
    <section id="work" class="content-section text-center">
        <div class="work-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>Work</h2>
                    <p>I am currently working at <a href="https://www.airmed.io/#/home">Airmed Sciences</a> to simplify medical study data.</p>
                    <h2>Portfolio</h2>
                    <p>Coming soon! <br> Send me an <a href="#contact">email</a> if you are interested in my current portfolio.</p>
                    <!-- <a href="#contact" class="btn btn-default btn-lg">Portfolio</a> -->
                </div>
            </div>
        </div>
    </section>